  .container {
	overflow: hidden;
  }
  
  .container:hover {
	overflow: visible;
	overflow-x: scroll;
  }
  
  .container::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
  }
  
  .container::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-track {
	background-color: #f7f7f7;
  }