  /* ::-webkit-scrollbar {
	width: 8px;
  }
  
  ::-webkit-scrollbar-track {
	background: #f7f7f7;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 10px;
	border: 3px solid #f7f7f7;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #a9a9a9;
	border-color: #f7f7f7;
  }
  
  .container {
	overflow: hidden;
  }
  .container:hover {
	overflow: visible;
	overflow-x: scroll;
  } */
  .container {
	overflow: hidden;
  }
  
  .container:hover {
	overflow: visible;
	overflow-x: scroll;
  }
  
  .container::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
  }
  
  .container::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 10px;
  }
  
  .container::-webkit-scrollbar-track {
	background-color: #f7f7f7;
  }